*{
    /* css reset */
    margin: 0;
    padding: 0;
}
body{
    /* background-color: red; */
    overflow: hidden;
    cursor:crosshair;
}
.container{
    background: url(bg.png) no-repeat;
    background-size: 100% 100%;
    width:100%;
    height: 100vh;
}
.hero{
    background:url(Mario.png);
    background-repeat: no-repeat;
    background-size: contain; /*img bahar ja ri thi width ad hight se 
    so usko fit inside krne ke liye cover try kiya but  kart ra tha so ontain try kiya to kaam kar gaya*/
    position: absolute;
    width:8vh;
    height: 10vh;
    bottom:13.5vh; /*13.5vh*/
    left:4vw;
}

.villan {
    background: url(drag.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* border:3px solid orange ; */
    position: absolute;
    height: 10vh;
    width: 5vw;
    bottom: 13.5vh; /*13.5vh*/
    left:75vw;
}

.gameover {
    visibility: hidden;
    position: relative;
    background: white;
    width: 30vw;
    border-radius: 5vw;
    border: 5px solid black;
    height: fit-content;
    top: 30vh;
    left: 40vw;
    font-size: 5vw;
    text-align: center;
}


#scorecont {
    background: hotpink;
    top: 5vh;
    left: 5vh;
    font-size: 4vh;
    text-align: center;
    position: relative;
    height: 5vh;
    width: 16vw;
    border-radius: 5vh;
    border: 0.8vh solid black;
}
/*anomatio class and animation  for hero*/
.animateHero{
    animation: hero 0.6s linear;
}

.animateVillan{
    animation: villan 4s linear infinite;
}

.deathHero{
    animation: herodeath 8s linear;
}

@keyframes hero{
    0%{
        bottom: 13.5vh;
    }
    10%{
        bottom: 19.5vh;
    }
    20%{
        bottom: 25.5vh;
    }
    30%{
        bottom: 31.5vh;
    }
    40%{
        bottom: 37.5vh;
    }
    
    50%{
        bottom: 43.5vh;
    }
    60%{
        bottom: 37.5vh;
    }
    70%{
        bottom: 31.5vh;
    }
    80%{
        bottom: 25.5vh;
    }
    90%{
        bottom: 19.5vh;
    }
    100%{
        bottom:13.5vh;
    }
}

/*animation class and animationfir villian*/

@keyframes villan{
    0%{
        left: 100vw;
    }
    /* 50%{
        
    } */
    100%{
       left: 0vw; 
    }
}

@keyframes herodeath{

    10%{
        bottom: 20vw;
    }
    20%{
        bottom: 30vw;
    }
    30%{
        bottom:13.5vw;
    }
    40%{
        bottom:9vw;
    }
    50%{
        bottom:5vw;
    }
    60%{
        bottom: 0vx;
    }
    70%{
        bottom: -5vw;
    }
    80%{
        bottom:-7vw;
    }
    90%{
        bottom:-10vw;
    }
    100%{
        bottom:-10vw;
    }
}